# CREDENTIALS
MPG_USERNAME=
MPG_PASSWORD=

# LEAGUE CONFIG
LEAGUE_ID=
TEAM_NAME=
RESULT_LINK="https://mpg.football/league/mpg_league_XXXXXXXX/mpg_division_XXXXXXXX_1_1/results"
SEASON_NUMBER=1
DIVISION=1
NUMBER_PLAYERS=6

# CONFIG
USE_DOCKER="False"
PYTHONPATH=
PYTHONPATH=